data/*
.venv/
GUIA_DE_USO.txt
MONITORAMENTO.md
DOCUMENTACAO_COMPLETA.md
*.pcap
*.log
ansible/data/pcaps/
files_to_copy/*
__pycache__/
*training/app/logs/
app/
pcaps/
Arquivos_extra/Depois/
MODELOS_exemplos/modelos_old

# Arquivos sensíveis
ansible/inventory
ansible/group_vars/all/vault.yml
.ansible_vault_pass
*.vault_pass

# Temp
Guia_de_uso.md