[defaults]
# Local do inventório
inventory = ansible/inventory
# A chave a ser usada para conectar aos hosts
private_key_file = ~/.ssh/id_ed25519 
# Não checa a chave do host (evita "Are you sure you want to continue connecting (yes/no)?".)
host_key_checking = False
 # Tempo para desistir de conectar ao host
timeout = 10
# Número de processos paralelos (aumente este valor quando crescer o número de clientes)
forks = 20
# Usa /tmp para arquivos temporários do Ansible nos dispositivos (evita corrupção do ~/.ansible/tmp)
remote_tmp = /tmp
